/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

header {
  background-color: #0a2e18;
  color: rgb(186, 185, 185);
  text-align: center;
  padding: 1rem;
}

main {
  background-color: #dee4e0;
  padding: 1rem;
}

form {
  display: grid;
  gap: 1rem;
  max-width: 400px;
}

label {
  font-weight: bold;
}

button {
  background-color: #134b23;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: #060606;
}

#task-list {
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
}

.task-item {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.task-item h3 {
  margin: 0;
}

/* Botão para excluir tarefas */
.task-item .delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}

.task-item .delete-btn:hover {
  background-color: #bd2130;
}

/* Estilos para tarefas concluídas */
.task-item.completed {
  background-color: #16291b; /* Verde claro */
  border: 1px solid #145a24;
  color: #121d15;
}

.task-item.completed h3 {
  text-decoration: line-through; /* Risco no título */
}

/* Estilos para diferenciar as tarefas por prioridade */
.task-item.alta {
  border-left: 4px solid red;
  background-color: #ffe5e5;
}

.task-item.média {
  border-left: 4px solid orange;
  background-color: #fff4e5;
}

.task-item.baixa {
  border-left: 4px solid green;
  background-color: #e5ffe5;
}

footer {
  font-size: 12px;
  justify-content: center;
  text-align: center;
}

#filter-status {
  font-size: 10px;
}
