body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
  }
  
  header {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  main {
    padding: 1rem;
  }
  
  form {
    display: grid;
    gap: 1rem;
    max-width: 400px;
  }
  
  label {
    font-weight: bold;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }


footer {
  position: fixed; /* Fixa o footer na parte inferior */
  bottom: 0; /* Alinha na parte inferior */
  width: 100%; /* Ocupa toda a largura da tela */
  text-align: center; /* Centraliza o texto dentro do footer */
  background-color: #f1f1f1; /* Cor de fundo (opcional) */
  padding: 10px 0; /* Espaço interno */
}




